<?php
return array(
    'zf2Logger' => array(
        'writers' => array(
            array(
                'adapter' => '\Zend\Log\Writer\Stream',
                'options' => array(
                    'path' => '/tmp/zend-framework.log'
                )
            )
        )
    )
);
